.container {
  height: 80px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 55px;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.buttons {
}
